body {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

ul {
	margin: 0;
	padding: 0
}

li {
	display: block;
	padding: 20px 10px;
	background: white;
	border-bottom: solid 1px gray;
}

.row-settings {
	padding-bottom: 1rem;
}

.hidden {
	display: none;
}

.centered {
	text-align: center;
}

.settings-input {
	width: 20rem;
}

#sql-output-area {
	margin-top : 25px
}